@use "./../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "./partials/_variables.scss" as *;
@use "./partials/_navbar.scss" as *;
@use "./partials/_footer.scss" as *;
@use "./app/_header.scss" as *;
@use "./colormode/_lMode.scss" as *;


body {
  background-color: $bg_body;
  color: $light;
  font-family: monospace;
  overflow-x: hidden;
  max-width: 100%;
  padding-top: 50px;

  .col-12{
    border: 2px solid rgba(0, 255, 162, 0.855);
  }
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: $bg_body;
  height: 123px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #1dc0bb;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  border-left: 1px solid $bg_body;
}

.app {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  /* Imposta il contenitore principale */
  #app {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Per evitare margini indesiderati */
  * {
    box-sizing: border-box;
  }

  /* Rendi immagini e iframe responsive */
  img,
  iframe {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
  }
}

.theme-button {
  background-color: #34495e;
  color: white;
}
.theme-button:hover {
  background-color: #34495e;
}

body.dark-mode .theme-button {
  background-color: #34495e;
  color: white;
}

a {
  color: #1dc0bb;
}

img {
  width: 80%;
}

.btn_blulight {
  color: $dark;
  background-color: $bludark;
}

.btn_blulight:hover {
  color: $light;
  background-color: $blulight;
}

.formula_box {
  background-color: $bludark;
  color: $dark;
  border-radius: 1rem;
  padding: 15px;
  margin-bottom: 20px;

  .small {
    font-size: 0.9em;
    color: #666;
  }

  .table-responsive {
    margin-top: 20px;
  }

  .table th,
  .table td {
    text-align: center;
  }
}