.filters-bar {
  position: sticky;
  top: 60px;
  /* altezza della navbar */
  z-index: 999;
  background-color: rgba(14, 35, 57, 0.7);
  backdrop-filter: blur(6px);
/*   border-bottom: 1px solid #ddd;
 */  padding: 1rem;
}

/* tag slider scroll */
.tag-slider::-webkit-scrollbar {
  height: 6px;
}

.tag-slider::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* badge tag style */
.tag {
  background: #e0f7fa;
  color: #006064;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .tag {
    font-size: 0.7rem;
    padding: 0.15rem 0.4rem;
  }
}



.card {
/*   border: 1px solid #ccc;
 */  border-radius: 8px;
  overflow: hidden;
}

.location-slider {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.location-slider::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.location-slider button {
  white-space: nowrap;
}