@use "./../partials/_variables.scss" as *;
@use "./../app/_wave.scss" as *;

header {
    background-color: #0e2339;

    .jumbotron {
        background-color: #0e2339;
        color: white;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        align-content: center;
    }
}