@use "./../partials/_variables.scss" as *;

.header {
    background-color: #02172c;
    padding: 2rem 0;
}
.jumbotron {
    background: #2c3e50;
    color: white;
    text-align: center;
    border-radius: 10px;
}