@use "./../partials/_variables.scss" as *;

.waves {
    position: relative;
    width: 100%;
    height: 5vh; // Ridotta altezza delle onde
    margin-bottom: -5px;
    /*Fix for safari gap*/
    min-height: 70px;
    max-height: 100px;
}

.flipped {
    transform: scaleY(-1);
    margin-top: -5px;
    /* Evita spazi tra le onde */
}

/* Animation */

.parallax>use {
    animation: move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; // Animazione più lenta
}

.parallax>use:nth-child(1) {
    animation-delay: -5s;
    animation-duration: 50s;
}

.parallax>use:nth-child(2) {
    animation-delay: -6s;
    animation-duration: 30s;
}

.parallax>use:nth-child(3) {
    animation-delay: -5s;
    animation-duration: 50s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 30s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.boat {
    position: absolute;
    top: 160px;
    /* Default: schermo grande */
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: auto;
    z-index: 10;
    animation: boat-move 6s infinite ease-in-out;
}


@media (max-width: 1199px) {
    .boat {
        width: 5%;
        top: 160px;
    }
}

/* Modalità laptop (768px - 1199px) */
@media (min-width: 768px){
    .boat {
        width: 8%;
        top: 160px;
    }
}

/* Modalità mobile (max-width: 767px) */
@media (max-width: 767px) {
    .boat {
        width: 15%;
        top: 130px;
        /* Sposta la barca più in basso */
    }
}


@keyframes boat-move {
    0% {
        transform: translateX(50%) translateY(0) rotate(2deg);
    }

    50% {
        transform: translateX(50%) translateY(-5px) rotate(-3deg);
    }

    100% {
        transform: translateX(50%) translateY(0) rotate(2deg);
    }
}

/* Shrinking for mobile */
@media (max-width: 768px) {
    .waves {
        height: 30px; // Onde più piccole per dispositivi mobili
        min-height: 30px;
    }
}