@use "./../partials/_variables.scss" as *;

body.light-mode {
    background-color: $light;
    color: $txtlight;

    #header {
        background-color: $light;
        color: $bg_body2;
    }

    .jumbotron {
        background: $sky_night;
        color: $light;
        text-align: center;
        border-radius: 10px;
    }

}