@use "./../partials/_variables.scss" as *;

body.light-mode {
    background-color: $light;
    color: $dark;

    .header {
        background-color: $sky_day;
    }

    .jumbotron {
        background: $sky_night;
        color: $light;
        text-align: center;
        border-radius: 10px;
    }

}