@use "./../partials/_variables.scss" as *;

body.light-mode {
    background-color: $light2;
    color: $txtlight;

    #header {
        background-color: $light3;
        color: $bg_body2;
    }

    .filters-bar {
        background-color: rgba(181, 236, 255, 0.70);
    }

}