$primary: #1d92c0;
$bg_body: #0e2339;
$bg_body2: #1d1d1d;
$dark: #333333;
$sky_night: #2c3e50;
$sky_day: #c0f2ff;
$light: #c0f2ff;
$light2: #edf3f5;
$neutral: #aaaaaa;
/*  */
$glowlight: #5500ff;
$glowdark: #00fbd5;
$btnlink: #5500ff;
$blulight: #52dafcad;
/*  */
$bludark: #52dafc;
$notalight: #0dff00;
$notadark: #0ac300;
$sail: #ffd000;