$primary: #1d92c0;
$bg_body: rgb(14, 35, 57);
$bg_body2: #030827;
$dark: #333333;
$sky_night: #2c3e50;
$sky_day: #82a5a7;
$light: #bcffee;
/* light mode */
$light3: #8dd5fc;
$light2: #b5ecff;
$txtlight:#2c3e50;
$neutral: #aaaaaa;
$glowlight: #5500ff;
$glowdark: #00fbd5;
$btnlink: #5500ff;
$blulight: #52dafcad;
/* var2 */
$bludark: #52dafc;
$notalight: #0dff00;
$notadark: #0ac300;
$sail: #ffd000;